### описание данных

1. grlist_2, grlist_s

    <b>iGrID</b> - Internal 2MRS or SDSS group ID
    
    <b>RAJ2000</b> - Right ascension (J2000.0) of the group centre
    
    <b>DEJ2000</b> - Declination (J2000.0) of the group centre
    
    <b>z</b> : Redshift of the group centre (CMB-corrected)
    
    <b>logLtot</b> - logarithm of the total (extrapolated) luminosity of the group
    
    <b>e_logLtot</b> - Uncertainty of total luminosity
    
    <b>logLobs</b> - logarithm of the observed luminosity of the group
    
    <b>logMtot</b> - logarithm of the total mass of the group
    
    <b>e_logMtot</b> - Uncertainty of the total mass
    
    <b>logMsta</b> - logarithm of the minimal stellar mass
    
    <b>NMstar</b> - Number of galaxies in the group for which stellar masses are available
    
    <b>logMdyn</b> - logarithm of the dynamical mass of the group
    
    <b>sigma</b> - Velocity dispersion of the group 
    
    <b>Rad</b> - Radius of the group
    
    <b>angRad</b> - Angular radius of the group
    
    <b>DL</b> - Luminosity distance to the group (redshift based)
    
    <b>Ntot</b> - Total number of galaxies in the group
    
    <b>Dist</b> - Display all distances
    
2. galist_2, galist_s

    <b>iGalID</b> - Internal 2MRS or SDSS galaxy ID

    <b>iGrID</b> - Internal 2MRS or SDSS group ID
    
    <b>RAJ2000</b> - Right ascension (J2000.0)
    
    <b>DEJ2000</b> - Declination (J2000.0)
    
    <b>z</b> - Redshift (CMB-corrected)
    
    <b>logMstar	</b> -  logarithm of the stellar mass

### подготовка данных

In [10]:
import pandas as pd

ga_2, gr_2 = pd.read_csv('Data/galist_2.csv'), pd.read_csv('Data/grlist_2.csv')
ga_s, gr_s = pd.read_csv('Data/galist_s.csv'), pd.read_csv('Data/grlist_s.csv')

# объединение по iGrID
g_2, g_s = pd.merge(ga_2, gr_2, on='iGrID'), pd.merge(ga_s, gr_s, on='iGrID')

# фильтрация по Ntot
g_2, g_s = g_2[g_2.Ntot > 30], g_s[g_s.Ntot > 30]

In [11]:
g_2.head(3)

,iGalID,iGrID,Name,RAJ2000_x,DEJ2000_x,z_x,logMstar_x,RAJ2000_y,DEJ2000_y,z_y,...,logLobs,logMtot,logMstar_y,NMstar,logMdyn,sigma,Rad,angRad,DL,Ntot
68,15983,1069,02570921+0519153,44.288391,5.32091,0.024036,11.04765,44.423199,6.02693,0.023551,...,12.46836,14.44997,11.73111,4,12.0069,489.3147,608.5851,0.370252,98.6641,32
69,41930,1069,02533752+0603392,43.406349,6.06101,0.024890,NaN,44.423199,6.02693,0.023551,...,12.46836,14.44997,11.73111,4,12.0069,489.3147,608.5851,0.370252,98.6641,32
70,34664,1069,02574211+0525562,44.425579,5.43222,0.024612,NaN,44.423199,6.02693,0.023551,...,12.46836,14.44997,11.73111,4,12.0069,489.3147,608.5851,0.370252,98.6641,32

In [12]:
g_s.head(3)

,iGalID,iGrID,Name,RAJ2000_x,DEJ2000_x,z_x,logMstar_x,Dist_x,RAJ2000_y,DEJ2000_y,...,logMtot,logMstar_y,NMstar,logMdyn,sigma,Rad,angRad,DL,Ntot,Dist_y
1188,151723,82182,1237661121851687040,50.787243,40.294140,0.014498,NaN,,49.179073,41.324898,...,14.77303,NaN,0,12.5893,834.796,799.3362,0.701477,67.4165,141,
1189,148781,82182,1237661121851687044,50.792912,40.299427,0.013492,NaN,,49.179073,41.324898,...,14.77303,NaN,0,12.5893,834.796,799.3362,0.701477,67.4165,141,
1190,151724,82182,1237661121851687072,50.852291,40.355141,0.016187,NaN,,49.179073,41.324898,...,14.77303,NaN,0,12.5893,834.796,799.3362,0.701477,67.4165,141,